<!DOCTYPE html>
<!--[if IE 8]><html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]>
<!--><html class="no-js" lang="en"><!--<![endif]-->
<head>
	<script src="js/html5.js"></script>

   <!--[if lt IE 9]>
	<link rel="stylesheet" type="text/css" href="ie8-and-down.css" />
	<style>.hero .hero-holder {
		margin-left:-410px;
	}
	</style>
    <![endif]-->
    
	<link rel="stylesheet" type="text/css" href="css/ie.css" />

	<!-- Basic Page Needs
  ================================================== -->
	<meta charset="utf-8">
	<title>THE ZOOM IMAGE WORKS</title>
	<meta name="description" content="">
	<meta name="author" content="">

	<!-- Mobile Specific Metas
  ================================================== -->
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, shrink-to-fit=no">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta charset="utf-8">
	
	<!-- CSS
  ================================================== -->
	<link rel="stylesheet" href="css/base.css"/>
	<link rel="stylesheet" href="css/skeleton.css"/>
	<link rel="stylesheet" href="css/layout.css"/>
	<link rel="stylesheet" href="css/font-awesome.css" />
	<link rel="stylesheet" href="css/colorbox.css"/>
	<link rel="stylesheet" href="css/retina.css"/>
	

		
		
	<!-- Favicons
	================================================== -->
	<link rel="shortcut icon" href="favicon.png">
	<link rel="apple-touch-icon" href="apple-touch-icon.png">
	<link rel="apple-touch-icon" sizes="72x72" href="apple-touch-icon-72x72.png">
	<link rel="apple-touch-icon" sizes="114x114" href="apple-touch-icon-114x114.png">
	
	
	
</head>
<body>	

	<!-- Primary Page Layout
	================================================== -->


	
		<div id="menu-wrap" class="menu-back cbp-af-header">
			<div class="container">
				<div class="sixteen columns">
					<div class="logo"></div>
					<ul class="slimmenu">
						<li> 
							<a class="scroll" href="#home">home</a>
						</li>
						<li>
							<a class="scroll" href="#about">about</a>
						</li>
						<li>
							<a class="scroll" href="#work">work</a>
						</li>
						<li> 
							<a class="scroll" href="#services">services</a>
						</li>
						<li>
							<a class="scroll" href="#contact">contact</a>
						</li>
					</ul>
				</div>
			</div>
		</div>		

<div id="home">	
				<div class="just_pattern"></div>	
				<div class="big-text">
					<ul class="flippy">
						<li><span>The Zoom Image Works</span></li>
						
					</ul>
				</div>
				
				
				<video id="video_background" preload="auto" autoplay loop muted="muted" volume="0"> 
					
					<source src="videos/video.mp4" type="video/mp4"> 
					
				</video>		
				<a class="scroll" href="#about"><div class="scroll-btn tipped" data-title="about agency"  data-tipper-options='{"direction":"top","follow":"true"}'></div></a>
			</div>

	<!---------------------------------------------------------------------------------------->
<div id="about">
				<div class="container">
					<div class="sixteen columns">
						<h1><span>about The Zoom image works</span></h1>
						<div class="head-subtext">
						  <p>The Zoom Image works는 &quot;고객과 함께하는 이미지 가치창출&quot;이라는 것을 </p>
						경영철학으로 여러분과 함께하고 있습니다 </div>
					</div>
					<div class="clear"></div>
					<div class="sixteen columns">
						<div id="main" class="main">
							<figure>
								<div class="drawings mac">
									<img class="illustration" src="images/imac.png" alt="iMac Illustration" />
									<svg class="line-drawing" id="mac" width="100%" height="600" preserveAspectRatio="xMidYMid meet" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1000 600">
										<path d="M 257.85024,158.16843 754.90716,35.953537 731.06035,405.57906 228.78695,448.8014 z" /> 
										<path d="m 259.83736,136.30872 c 0,0 -6.74232,0.97288 -11.61303,5.46502 -3.96751,3.659 -6.12527,9.40831 -7.01729,20.86596 l -36.5158,346.77284 c 0,0 -3.47753,13.41382 10.68151,14.15903 l 517.67468,-21.11485 c 0,0 18.38216,0.74522 19.87257,-19.62369 L 784.07068,11.384991 c 0,0 0.059,-13.07475 -23.20111,-7.2266959 L 259.83736,136.30872 z" /> 
										<path d="m 211.29271,522.89381 c 0,0 12.5259,6.63947 19.72988,5.64573 l 513.45197,-19.12737 c 0,0 18.87884,0.74557 21.61112,-18.87848 l 29.5596,-462.528221 c 0,0 1.49047,-10.184447 -13.54272,-21.4997553" /> 
										<path d="M 208.59466,472.34637 756.27723,432.02629" /> 
										<path d="m 591.36015,515.11602 11.15099,41.36862 c 0,0 8.62435,33.16197 -11.15099,33.16197 l -55.35924,4.26821 c 0,0 -9.65275,0.58387 -13.08781,0.58387 -1.35069,0 -5.16991,0.0265 -5.16991,0.0265 l -149.57016,-0.0347 c 0,0 -1.45726,0.12035 -1.52173,-0.0853 -0.14195,-0.4531 1.2173,-0.44973 1.2173,-0.44973 l 93.42473,-4.68143 c 0,0 23.85536,1.49042 23.85127,-27.57288 l -2.70885,-42.52741" /> 
										<path d="m 595.82547,514.94947 11.52956,43.3982 c 0,0 8.23944,32.78936 -11.52956,38.00586 h -58.52044 l -12.10971,0.99374 -16.58099,-0.61332 -128.7355,0.17849 c 0,0 -10.74373,-0.45795 -13.22753,-2.50727" /> 
										<path d="m 486.38703,90.292617 c -0.3846,2.126175 -1.9686,3.619643 -3.5379,3.335758 -1.5693,-0.283875 -2.5297,-2.237606 -2.1451,-4.363775 0.38461,-2.12617 1.96859,-3.619642 3.53789,-3.335762 1.56931,0.283879 2.52971,2.23761 2.14511,4.363779 z" /> 
										<path d="m 483.95449,571.8934 120.41968,0" /> 
										<path class="line-round" d="m 783.49986,166.74023 -9.12881,133.48624" /> 
										<path class="line-round" d="m 773.91008,309.26031 -1.81646,29.43591" />
									</svg>
								</div>
							</figure>
						</div>
					</div>
				  <div class="clear"></div>
				  <div class="one-third column" data-scrollreveal="enter left and move 50px over 1s"> 
					<h6>CREATIVE LAYOUT</h6>
					  <p>The Zoom Image Works에서는 </p>
						<p>기존에 틀에 박혀있는 콘텐츠에서 벗어나 트렌드에 맞는 창의적인 이미지를 개발하고자 노력하고 있습니다 </p>
			      </div>
				  <div class="one-third column" data-scrollreveal="enter bottom and move 50px over 1s"> 
					<h6>EASY CUSTOMIZE</h6>
					  <p>The Zoom Image Works에서는 </p>
                        <p>기존에 틀에 박혀있는 콘텐츠에서 벗어나 트렌드에 맞는 창의적인 이미지를 개발하고자 노력하고 있습니다</p>
			      </div>
					<div class="one-third column" data-scrollreveal="enter right and move 50px over 1s"> 
						<h6>SUPER RESPONSIVE</h6>
						<p>The Zoom Image Works에서는 </p>
                        <p>기존에 틀에 박혀있는 콘텐츠에서 벗어나 트렌드에 맞는 창의적인 이미지를 개발하고자 노력하고 있습니다</p>
			      </div>
  </div>
			</div>
			<div id="sep">	
			  <div class="just_pattern"></div>
				<div class="just_pattern1"></div>
				<div class="parallax"></div>	
				<div class="container z-index">
					
					
				</div>
</div>		
			
			
			
			



			<div id="work">
				<div class="container">
					<div class="sixteen columns">
						<h1><span>our works</span></h1>
						<div class="head-subtext">
						  <p>the zoom image works는 2008년 설립된 이후 다양한 제작경험으로</p>
						  <p>여러분을 기다리고 있습니다 </p>
						</div>
					</div>
				</div>
				
				<div class="clear"></div>
			
				<div class="container">
					<div class="sixteen columns">
						<div id="portfolio-filter">
							<ul id="filter">
								<li><a href="#" class="current" data-filter="*" title="">Show all</a></li>
								<li><a href="#" data-filter=".photography" title="">photography</a></li>
								<li><a href="#" data-filter=".illustration1" title="">ci pi design</a></li>
								<li><a href="#" data-filter=".motion-graphics" title="">motion graphics</a></li>
								<li><a href="#" data-filter=".web-design" title="">web design</a></li>
							</ul>
						</div>
					</div>
				</div>
				<ul class="portfolio-wrap">
					<li class="portfolio-box web-design illustration1">	
						<a class="iframe group1" href="http://www.cavestudio.co.kr" title="케이브스튜디오">
							<img  src="images/gallery/1.jpg" alt="" />	
							<div class="mask"></div>
							<h4>Homepage-cave studio</h4>
						</a>	
					</li>
					<li class="portfolio-box web-design">	
						<a class="iframe group1" href="http://www.wavefitkorea.com" title="웨이브핏홈페이지">
							<img  src="images/gallery/2.jpg" alt="" />
							<div class="mask"></div>	
							<h4>Homepage-Wave fit</h4>	
						</a>		
					</li>		
					<li class="portfolio-box web-design illustration1">	
						<a class="iframe group1" href="http://www.thezoomimg.com" title="">
							<img  src="images/gallery/3.jpg" alt="" />
							<div class="mask"></div>
							<h4>Homepage-TheZoom</h4>
						</a>				
					</li>	
					<li class="portfolio-box motion-graphics">
						<a class="iframe group1" href="project.html" title="">
							<img  src="images/gallery/4.jpg" alt="" />
							<div class="mask"></div>
							<h4>Fixed Mag</h4>	
						</a> 			
					</li>	
					<li class="portfolio-box photography">	
						<a class="iframe group1" href="project1.html" title="">
							<img  src="images/gallery/5.jpg" alt="" />	
							<div class="mask"></div>	
							<h4>La Catería</h4>
						</a>			
					</li>
					<li class="portfolio-box motion-graphics">	
						<a class="iframe group1" href="project2.html" title="">
							<img  src="images/gallery/6.jpg" alt="" />
							<div class="mask"></div>
							<h4>전통재단</h4>
						</a>			
					</li>	
					<li class="portfolio-box motion-graphics">
						<a class="iframe group1" href="project.html" title="">
							<img  src="images/gallery/7.jpg" alt="" />	
							<div class="mask"></div>
							<h4>La Catería</h4>
						</a>			
					</li>	
					<li class="portfolio-box motion-graphics">
						<a class="iframe group1" href="project1.html" title="">
							<img  src="images/gallery/8.jpg" alt="" />	
							<div class="mask"></div>
							<h4>다이노스응원가</h4>
						</a>			
					</li>	
                    					<li class="portfolio-box motion-graphics">
						<a class="iframe group1" href="project1.html" title="">
							<img  src="images/gallery/9.jpg" alt="" />	
							<div class="mask"></div>
							<h4>Dan Fink</h4>
						</a>			
					</li>
                    <li class="portfolio-box motion-graphics">
						<a class="iframe group1" href="project1.html" title="">
							<img  src="images/gallery/10.jpg" alt="" />	
							<div class="mask"></div>
							<h4>Dan Fink</h4>
						</a>			
					</li>
                    <li class="portfolio-box motion-graphics">
						<a class="iframe group1" title="" href="https://vimeo.com/103698091"><img  src="images/gallery/11.jpg" alt="" />	
							<div class="mask"></div>
							<h4>다이노스응원가</h4>
						</a>
			
				  </li>
                                      <li class="portfolio-box motion-graphics">
						<a class="iframe group1" title="" href="https://vimeo.com/103698091"><img  src="images/gallery/12.jpg" alt="" />	
							<div class="mask"></div>
							<h4>다이노스응원가</h4>
						</a>
			
				  </li>
                                      <li class="portfolio-box motion-graphics">
						<a class="iframe group1" title="" href="https://vimeo.com/103698091"><img  src="images/gallery/13.jpg" alt="" />	
							<div class="mask"></div>
							<h4>다이노스응원가</h4>
						</a>
			
				  </li>
                                      <li class="portfolio-box motion-graphics">
						<a class="iframe group1" title="" href="https://vimeo.com/103698091"><img  src="images/gallery/14.jpg" alt="" />	
							<div class="mask"></div>
							<h4>다이노스응원가</h4>
						</a>
			
				  </li>
                                      <li class="portfolio-box motion-graphics">
						<a class="iframe group1" title="" href="https://vimeo.com/103698091"><img  src="images/gallery/15.jpg" alt="" />	
							<div class="mask"></div>
							<h4>다이노스응원가</h4>
						</a>
			
				  </li>
                    
				</ul>					

				<div class="clear"></div>	
				
			</div>
			<a href="#contact" class="scroll">
			<div class="container">
			  <div class="sixteen columns">
			    <h6>ARE YOU READY TO START A CONVERSATION?</h6>
			    <p><small><span>Get In Touch!</span></small></p>
		      </div>
		    </div>
			</a>			
			




			<div id="sep1">	
				<a href="#contact" class="scroll">
					<div id="action"></div>
				</a>			
				<div class="just_pattern"></div>
				<div class="just_pattern1"></div>
				<div class="parallax1"></div>
				<div class="container z-index">	
					<div class="sixteen columns">
						<ul class="slider3"> 
							<li>
								<div class="test">
									<div class="icon-test">&#xf10e;</div> 
									<h6>Imagination is more important than knowledge.</h6>			
									<p><span>Albert Einstein</span></p>
								</div> 
							</li> 
							<li>
								<div class="test">
									<div class="icon-test">&#xf10e;</div> 
									<h6>Victory belongs to the most persevering.</h6>			
									<p><span>Napoleon Bonaparte</span></p>
								</div> 
							</li>
                            <li>
								<div class="test">
									<div class="icon-test">&#xf10e;</div> 
									<h6>Wheresoever you go, go with all your heart</h6>			
									<p><span>Confucius</span></p>
								</div> 
							</li>
						</ul> 
					</div>	
				</div>	
			</div>


			
			
			
			<div id="services">
				<div class="container">
					<div class="sixteen columns">
						<h1><span>services</span></h1>
						<div class="head-subtext">
						  <p>The Zoom Image Works 에서는 다양한 콘텐츠를 가지고 있습니다.</p>
						  <p>보다 차별화하고 전문화된 분야를 나뉨으로써 여러분들의 맞춤 서비스를 제공하고 있습니다 </p>
						</div>
					</div>
					<div class="clear"></div>
				  <div class="eight columns" data-scrollreveal="enter left and move 150px over 1s">
						<div class="last-services1">
							<h6>motion graphic,video content</h6>
							<div class="icon-right1">&#xf0c6;</div>
							<p>더줌 이미지 웍스에서 제공되는 영상 콘텐츠는 이미 여러분야에서 많은 사랑을 받고 있습니다 홍보영상 바이럴영상 편집,촬영등 다양한 콘텐츠가 준비되어 있습니다 </p>
							<p>&nbsp;</p>
						  <p>분야: 홍보영상,바이럴영상,영상촬영,영상편집,방송프로그램제작</p>
						</div></div>
					<div class="eight columns" data-scrollreveal="enter right and move 150px over 1s">
					  <div class="last-services">
							<div class="icon-left1">&#xf080;</div>
						<h6>photography</h6>
						  <p>더줌 이미지 웍스에서는 단순한 사진이 아닌 차별화 되고 전문포토그래퍼들이 항시 준비되어 있어 여러분들의 기업에 더욱 특별한 사진이 될수 있도록 노력하고 있습니다 </p>
						  <p>&nbsp;</p>
					    <p>분야: 제품사진, 프로필사진, 행사사진</p>
						</div>
					</div>
					<div class="clear"></div>
				  <div class="eight columns" data-scrollreveal="enter left and move 150px over 1s">
				    <div class="last-services1">
							<h6>design project</h6>
					  <div class="icon-right1">&#xf120;</div>
						  <p>더줌 이미지 웍스에서는 특별한 디자인, 로고,이미지,카달로그, 명함등 여러 포트폴리오를 준비하고 있습니다.</p>
						  <p>&nbsp;</p>
					  <p>분야: CI,PI제작, 제품디자인,인테리어</p>
						</div></div>
				  <div class="eight columns" data-scrollreveal="enter right and move 150px over 1s">
				    <div class="last-services">
							<div class="icon-left1">&#xf002;</div>
					  <h6>online Support</h6>
						  <p>홈페이지 제작 및 관리,웹메일및 호스팅 관리로 세계에 맞는 트렌드로 여러분 앞에 다가갈것입니다</p>
						  <p>&nbsp;</p>
					  <p>분야: 홈페이지제작 및 관리, 호스팅관리, 온라인 마케팅 </p>
						</div></div>
					<div class="clear"></div>
				</div>
			</div>


			
			<div id="pricing">
				<div class="container">
					<div class="sixteen columns">
						<h1>procress</h1>
						<div class="head-subtext">
						  <p>The Zoom Image Works에 제공되는 서비스 과정은 타사를 비교하여 </p>
						  <p>투명하고 더욱 최적화된 시스템을 갖고자 노력하고 있습니다. </p>
						  <p>원하시는 콘텐츠에 따라 과정을 참조하시면 됩니다 </p>
						  <p>이외 궁금한 사항은 contect를 통하여 연락부탁드립니다 </p>
						</div>
					</div>
					<div class="clear"></div>
					<div class="one-third column" data-scrollreveal="enter left and move 150px over 1s">
						<div class="services-offer">
						  <h6>motion graphic</h6>
						  <p>motion graphic 위주의	제작방식입니다 </p>
							<div class="services-list">
								<ul class="list-services">
									<li>
									  <p>상담문의</p></li>
									<li>
									  <p>견적서발송/concept회의/스케쥴조율</p></li>
									<li>
									  <p>제작진행(상황에 따라 변경됩니다)</p></li>
									<li>
									  <p>1차/2차 conform</p></li>
									<li>
									  <p>제작품 납품</p></li>
							  </ul>
						  </div>
							<a href="#">
							<div class="services-link"></div></a>
					  </div>
					</div>
					<div class="one-third column" data-scrollreveal="enter bottom and move 150px over 1s">
						<div class="services-offer featured">
						  <h6>Design</h6>
						  <p>DESIGN	위주의	제작방식입니다 </p>
							<div class="services-list">
								<ul class="list-services">
									<li><p>상담문의</p>
									</li>
									<li>
									  <p>견적서발송</p>
									</li>
									<li>
									  <p>concept회의</p></li>
									<li>
								    <p>제작진행(디자인 기준 14일)</p></li>
									<li>
								    <p>디자인 남품</p></li>
							  </ul>
						  </div>
							<a href="#">
							<div class="services-link"></div></a>
						</div>
					</div>
					<div class="one-third column" data-scrollreveal="enter right and move 150px over 1s">
						<div class="services-offer">
							<h6>online</h6>
							<p>ONLINE	위주의	제작방식입니다 </p>
							<div class="services-list">
								<ul class="list-services">
									<li>
									  <p>상담문의/컨셉문의</p>
									</li>
									<li>
									  <p>견적서발송/contect</p>
									</li>
									<li>
									  <p>사전미팅/concept회의</p></li>
									<li>
								    <p>제작진행(홈페이지기준 40일)</p></li>
									<li>
								    <p>호스팅관리</p></li>
							  </ul>
						  </div>
							<a href="#">
							<div class="services-link"></div></a>
						</div>
					</div>
				</div>
			</div>

			
			<div id="logos">
				<div class="container z-index">	
					<div class="sixteen columns" data-scrollreveal="enter bottom and move 150px over 1s">
						<div class="logos-wrap">
							<img  src="images/logos/1.png" alt="" />	
						</div>
						<div class="logos-wrap">
							<img  src="images/logos/2.png" alt="" />	
						</div>	
						<div class="logos-wrap">
							<img  src="images/logos/3.png" alt="" />	
						</div>	
						<div class="logos-wrap">
							<img  src="images/logos/4.png" alt="" />	
						</div>	
						<div class="logos-wrap">
							<img  src="images/logos/5.png" alt="" />	
						</div>	
						<div class="logos-wrap">
							<img  src="images/logos/6.png" alt="" />	
						</div>		
					</div>
				</div>		
			</div>		
					
			
			<div id="contact">				
				<div class="just_pattern"></div>
				<div class="just_pattern1"></div>
				<div class="parallax2"></div>
				<div class="container z-index">	
					<div class="sixteen columns" data-scrollreveal="enter bottom and move 150px over 1s">
						<div class="contact-wrap">
							<p><i class="icon-contact1">&#xf095;</i><span>call us:</span>070-7719-2951 <small><em>Monday–Satday| 10am–8pm (GMT +9)</em></small></p>
							<p><i class="icon-contact1">&#xf041;</i><span>Visit Us:</span>13-295,Sungsu1ga 2dong, Sungdonggu, Seoul, Korea</p>
							<h6>contact us:</h6>
							<form name="ajax-form" id="ajax-form" action="mail-it.php" method="post">
								<label for="name">Your  Name: * 
									<span class="error" id="err-name">please enter name</span>
								</label>
								<input name="name" id="name" type="text" />
								<label for="email">E-Mail: * 
									<span class="error" id="err-email">please enter e-mail</span>
									<span class="error" id="err-emailvld">e-mail is not a valid format</span>
								</label>
								<input name="email" id="email" type="text" />
								<label for="message">Tell Us Everything:</label>
								<textarea name="message" id="message"></textarea>
								<div id="button-con"><button class="send_message" id="send">Submit</button></div>	
								<div class="error text-align-center" id="err-form">There was a problem validating the form please check!</div>
								<div class="error text-align-center" id="err-timedout">The connection to the server timed out!</div>
								<div class="error" id="err-state"></div>
							</form>
							<div id="ajaxsuccess">Successfully sent!!</div>	
						</div>
					</div>	
				</div>
				<a class="button-map close-map"><span>THEZOOM IMAGEWORKS</span></a>
			</div>
			<div id="google_map"></div>	




			<div id="footer">
				<a class="scroll" href="#home"><div class="back-top">&#xf102;</div></a>	
				<div class="container">
					<div class="sixteen columns">
						<p>corporate with<i class="icon-footer">&#xf004;</i>cave<i class="icon-footer">&#xf0f4;</i>studio</p>
						<p><small>copy right @ 2008 </small></p>
					</div>
				</div>	
			</div>












			
			
			
			
			

    <!-- Switch Panel -->
    <div id="switch">
        <div class="content-switcher" >        
			<p>Color Options:</p>
			<ul class="header">           
				<li><a href="#" onClick="setActiveStyleSheet('orange'); return false;" class="button color switch" style="background-color:#e67e22"></a></li>
				<li><a href="#" onClick="setActiveStyleSheet('green'); return false;" class="button color switch" style="background-color:#2ecc71"></a></li>
				<li><a href="#" onClick="setActiveStyleSheet('red'); return false;" class="button color switch" style="background-color:#e74c3c"></a></li>
				<li><a href="#" onClick="setActiveStyleSheet('blue'); return false;" class="button color switch" style="background-color:#3498db"></a></li>
				<li><a href="#" onClick="setActiveStyleSheet('yellow'); return false;" class="button color switch" style="background-color:#f1c40f"></a></li> 
			</ul>        
			<div class="clear"></div>      
			<p>Page Templates:</p> 
			<div class="home-options">
				<a href="http://ivang-design.com/chronos/slider/">Slider Version</a>
				<a href="http://ivang-design.com/chronos/parallax/">Parallax Version</a>
				<a href="http://ivang-design.com/chronos/light/">Light Version</a>
			</div>  
			<div id="hide">
				<img  src="images/close.png" alt="" /> 
			</div>
        </div>
	</div>
	<div id="show" style="display: block;">
        <div id="setting"></div>
    </div>
    <!-- Switch Panel -->

   


	
	<!-- JAVASCRIPT
    ================================================== -->
<script type="text/javascript" src="js/jquery.js"></script>	
<script type="text/javascript" src="js/modernizr.custom.js"></script> 
<script type="text/javascript" src="js/royal_preloader.min.js"></script>
<script type="text/javascript">
            Royal_Preloader.config({
                mode:           'text', // 'number', "text" or "logo"
                text:           'CHRONOS',
                timeout:        0,
                showInfo:       true,
                opacity:        1,
                background:     ['#000000']
            });
</script>	
<script type="text/javascript" src="js/classie.js"></script>
<script type="text/javascript" src="js/cbpAnimatedHeader.min.js"></script>
<script type="text/javascript" src="js/styleswitcher.js"></script>
<script type="text/javascript" src="js/retina-1.1.0.min.js"></script>
<script type="text/javascript" src="js/flippy.js"></script>
<script type="text/javascript" src="js/jquery.easing.js"></script>
<script type="text/javascript" src="js/svganimations.js"></script>
<script type="text/javascript" src="js/jquery.bxslider.min.js"></script>
<script type="text/javascript" src="js/jquery.colorbox.js"></script> 
<script type="text/javascript" src="js/contact.js"></script>
<script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=true"></script>
<script type="text/javascript" src="js/plugins.js"></script>
<script type="text/javascript" src="js/template.js"></script>  	  
<!-- End Document
================================================== -->
</body>
</html>