<!DOCTYPE html>
<html>
<head>
<title>Thezoomworks</title>
<meta name="viewport"
	content="width=device-width, initial-scale=1, maximum-scale=1, shrink-to-fit=no">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta charset="utf-8">
<meta name="format-detection" content="telephone=no">
<link rel="stylesheet" type="text/css" href="css/core.css">
<link rel="stylesheet" type="text/css" href="css/elements.css">
<link rel="stylesheet" type="text/css" href="css/custom.css">
<link rel="icon" type="image/png" href="favicon.png?version=1">
</head>

<body class="preload">
	<div class="container-fluid">
		<header>
			<div class="container">
				<div class="row">
					<div class="col-md-6 col-xs-10">
						<a href="/" class="brand">
							<div class="author">Thezoomworks</div>
							<div class="title">Expanded reality + Metaverse</div>
						</a>
					</div>
					<div class="col-md-6 col-xs-2">
						<div class="nav-trigger">
							<div class="bar"></div>
							<div class="bar"></div>
							<div class="bar"></div>
						</div>
					</div>
				</div>
			</div>
		</header>
		<section class="intro">
			<div class="container mb-xl">
				<div class="row">
					<div class="col-md-10">
						<h1>
							Beyond reality, <br>into a New World.
							<!--<span class="strike">We'll show you.</span>-->
						</h1>
					</div>
				</div>
			</div>
			<div class="container">
				<ul class="filters">
					<li><a href="#" data-filter="item" class="active filter">All</a></li>
					<!-- <li><a href="#" data-filter="artdirection" class="filter">Art Direction</a></li>
            <li><a href="#" data-filter="design" class="filter">Design</a></li>
            <li><a href="#" data-filter="photography" class="filter">Photography</a></li>-->
				</ul>
			</div>
		</section>

		<section>
			<div class="container">
				<div class="row grid">
					<a href="http://3.38.8.156/"
						class="item col-md-3 col-sm-6 col-xs-6 artdirection">
						<div class="inner">
							<div class="thumb">
								<img alt="Jane Template - made by Themanoid"
									src="images/portfolio/01.png">
							</div>
							<div class="caption">
								<div class="title">Office</div>
								<div class="tag">Tour Contents</div>
							</div>
						</div>
						
					</a><a href="pages/work-single.html"
						class="item col-md-3 col-sm-6 col-xs-6 artdirection">
						<div class="inner">
							<div class="thumb">
								<img alt="Jane Template - made by Themanoid"
									src="images/portfolio/02.png">
							</div>
							<div class="caption">
								<div class="title">Resort</div>
								<div class="tag">Stationary</div>
							</div>
						</div>
						
					</a><a href="images/portfolio/03.png"
						class="item col-md-3 col-sm-6 col-xs-6 design lightbox">
						<div class="inner">
							<div class="thumb">
								<img alt="Jane Template - made by Themanoid"
									src="images/portfolio/03.png">
							</div>
							<div class="caption">
								<div class="title">House</div>
								<div class="tag">Tour Contents</div>
							</div>
						</div>
						
					</a><a href="pages/work-single.html"
						class="item col-md-3 col-sm-6 col-xs-6 identity">
						<div class="inner">
							<div class="thumb">
								<img alt="Jane Template - made by Themanoid"
									src="images/portfolio/04.png">
							</div>
							<div class="caption">
								<div class="title">City</div>
								<div class="tag">Tour Contents</div>
							</div>
						</div>
					</a>
				</div>
			</div>
		</section>

		<footer>
			<div class="container">
				<div class="row">
					<div class="col-md-12 text-center">
						<span>&copy; Thezoomworks. All rights reserved. </span>
					</div>
				</div>
			</div>
		</footer>
	</div>
	<aside id="navigation">
		<div class="inner">
			<div class="nav-trigger">
				<div class="bar"></div>
				<div class="bar"></div>
				<div class="bar"></div>
			</div>
			<ul class="menu">
				<li><a href="/">Home</a></li>
				<li><a href="pages/contact.html">Contact</a></li>
			</ul>
			<hr>

			<hr>
			<ul class="menu-small">
				<li><a href="#">Instagram</a></li>
				<li><a href="#">Vimeo</a></li>
				<li><a href="#">Behance</a></li>
			</ul>
		</div>
	</aside>
	<script src="js/assets/jquery.js"></script>
	<script src="js/assets/bootstrap.js"></script>
	<script src="js/assets/imagesloaded.pkgd.min.js"></script>
	<script src="js/assets/validation.js"></script>
	<script src="js/assets/packery.pkgd.min.js"></script>
	<script src="js/assets/velocity.min.js"></script>
	<script src="js/assets/typed.min.js"></script>
	<script src="modules/tera-lightbox/tera-lightbox.js"></script>
	<script src="js/assets/animsition.js"></script>
	<script src="js/functions.js"></script>
</body>
</html>